    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <div class="logo-wrapper">
                <a class="logo" href="index.html"> <img src="assets/img/logo-light.png" class="logo-img" alt=""> </a>
                <!-- <a class="logo" href="index.html"><h2>Renta<span>x</span></h2></a> -->
            </div>
            <!-- Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span> </button>
            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown"> <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Home <i class="ti-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html" class="dropdown-item active"><span>Slider</span></a></li>
                            <li><a href="index2.html" class="dropdown-item"><span>Image</span></a></li>
                            <li><a href="index3.html" class="dropdown-item"><span>Video</span></a></li>
                            <li><a href="index4.html" class="dropdown-item"><span>Slideshow</span></a></li>
                            <li class="dropdown-submenu dropdown"> <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" href="#"><span>Onepage <i class="ti-angle-right"></i></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="onepage-slider.html" class="dropdown-item"><span>Slider</span></a></li>
                                    <li><a href="onepage-image.html" class="dropdown-item"><span>Image</span></a></li>
                                    <li><a href="onepage-video.html" class="dropdown-item"><span>Video</span></a></li>
                                    <li><a href="onepage-slideshow.html" class="dropdown-item"><span>Slideshow</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Cars <i class="ti-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="cars.html" class="dropdown-item"><span>Car Grid</span></a></li>
                            <li><a href="cars2.html" class="dropdown-item"><span>Car Listing</span></a></li>
                            <li><a href="car-types.html" class="dropdown-item"><span>Car Types 01</span></a></li>
                            <li><a href="car-types2.html" class="dropdown-item"><span>Car Types 02</span></a></li>
                            <li><a href="car-details.html" class="dropdown-item"><span>Car Details 01</span></a></li>
                            <li><a href="car-details2.html" class="dropdown-item"><span>Car Details 02</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Pages <i class="ti-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="team.html" class="dropdown-item"><span>Team</span></a></li>
                            <li><a href="gallery-image.html" class="dropdown-item"><span>Image Gallery</span></a></li>
                            <li><a href="gallery-video.html" class="dropdown-item"><span>Video Gallery</span></a></li>
                            <li><a href="price.html" class="dropdown-item"><span>Pricing Plan</span></a></li>
                            <li><a href="faq.html" class="dropdown-item"><span>FAQ</span></a></li>
                            <li><a href="testiominals.html" class="dropdown-item"><span>Testiominals</span></a></li>
                            <li><a href="team-single.html" class="dropdown-item"><span>Team Single</span></a></li>
                            <li><a href="404.html" class="dropdown-item"><span>404 Page</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Blog <i class="ti-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="blog.html" class="dropdown-item"><span>Blog Grid</span></a></li>
                            <li><a href="blog2.html" class="dropdown-item"><span>Blog List</span></a></li>
                            <li><a href="post.html" class="dropdown-item"><span>Post Single</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                </ul>
                <div class="navbar-right">
                    <div class="wrap">
                        <div class="icon"> <i class="flaticon-phone-call"></i> </div>
                        <div class="text">
                            <p>Need help?</p>
                            <h5><a href="tel:8551004444">855 100 4444</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Slider -->
    <header class="header slider-fade">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="item bg-img" data-overlay-dark="5" data-background="assets/img/slider/11.jpg">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 mb-30">
                                <div class="v-middle">
                                    <h6>* Premium</h6>
                                    <h1>Rental Car</h1>
                                    <h5>Bentley Bentayga <span>$600 <i>/ day</i></span></h5> <a href="#0" class="button-1 mt-15 mb-15">View Details <span class="ti-arrow-top-right"></span></a> <a href="#" data-scroll-nav="1" class="button-2 mt-15 mb-15">Rent Now <span class="ti-arrow-top-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item bg-img" data-overlay-dark="5" data-background="assets/img/slider/12.jpg">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 mb-30">
                                <div class="v-middle">
                                    <h6>* Premium</h6>
                                    <h1>Rental Car</h1>
                                    <h5>Rolls Royce Cullinan <span>$900 <i>/ day</i></span></h5> <a href="#0" class="button-1 mt-15 mb-15">View Details <span class="ti-arrow-top-right"></span></a> <a href="#" data-scroll-nav="1" class="button-2 mt-15 mb-15">Rent Now <span class="ti-arrow-top-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item bg-img" data-overlay-dark="5" data-background="assets/img/slider/14.jpg">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 mb-30">
                                <div class="v-middle">
                                    <h6>* Premium</h6>
                                    <h1>Rental Car</h1>
                                    <h5>Audi RS7 Sportback <span>$450 <i>/ day</i></span></h5> <a href="#0" class="button-1 mt-15 mb-15">View Details <span class="ti-arrow-top-right"></span></a> <a href="#" data-scroll-nav="1" class="button-2 mt-15 mb-15">Rent Now <span class="ti-arrow-top-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>