<section class="cars1 section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-30">
                <div class="section-subtitle">Select Your Car</div>
                <div class="section-title">Luxury <span>Car Fleet</span></div>
            </div>
        </div>
        <div class="cars1-carousel owl-theme owl-carousel">
            <div class="item">
                <div class="img"> <img src="assets/img/slider/7.jpg" alt=""> </div>
                <div class="con opacity-1">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="title"><a href="#">Lamborghini Urus</a></div>
                            <div class="details"> <span><i class="omfi-door"></i> 4 Seats</span> <span><i class="omfi-transmission"></i> Auto</span> <span><i class="omfi-luggage"></i> 2 Bags</span> <span><i class="omfi-age"></i> Age 25</span> </div>
                        </div>
                        <div class="col-md-5">
                            <div class="book">
                                <div><a href="car-details.html" class="btn"><span>Details</span></a></div>
                                <div><span class="price">$750</span><span>/day</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"> <img src="assets/img/slider/8.jpg" alt=""> </div>
                <div class="con opacity-1">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="title"><a href="#">Aston Martin DBX</a></div>
                            <div class="details"> <span><i class="omfi-door"></i> 4 Seats</span> <span><i class="omfi-transmission"></i> Auto</span> <span><i class="omfi-luggage"></i> 2 Bags</span> <span><i class="omfi-age"></i> Age 25</span></div>
                        </div>
                        <div class="col-md-5">
                            <div class="book">
                                <div><a href="car-details.html" class="btn"><span>Details</span></a></div>
                                <div><span class="price">$500</span><span>/day</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"> <img src="assets/img/slider/9.jpg" alt=""> </div>
                <div class="con opacity-1">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="title"><a href="#">Bugatti Mistral W16</a></div>
                            <div class="details"> <span><i class="omfi-door"></i> 2 Seats</span> <span><i class="omfi-transmission"></i> Auto</span> <span><i class="omfi-luggage"></i> 2 Bags</span> <span><i class="omfi-age"></i> Age 25</span></div>
                        </div>
                        <div class="col-md-5">
                            <div class="book">
                                <div><a href="car-details.html" class="btn"><span>Details</span></a></div>
                                <div><span class="price">$800</span><span>/day</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"> <img src="assets/img/slider/11.jpg" alt=""> </div>
                <div class="con opacity-1">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="title"><a href="#">Bentley Bentayga</a></div>
                            <div class="details"> <span><i class="omfi-door"></i> 4 Seats</span> <span><i class="omfi-transmission"></i> Auto</span> <span><i class="omfi-luggage"></i> 2 Bags</span> <span><i class="omfi-age"></i> Age 25</span></div>
                        </div>
                        <div class="col-md-5">
                            <div class="book">
                                <div><a href="car-details.html" class="btn"><span>Details</span></a></div>
                                <div><span class="price">$600</span><span>/day</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"> <img src="assets/img/slider/12.jpg" alt=""> </div>
                <div class="con opacity-1">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="title"><a href="#">Rolls Royce Cullinan</a></div>
                            <div class="details"> <span><i class="omfi-door"></i> 4 Seats</span> <span><i class="omfi-transmission"></i> Auto</span> <span><i class="omfi-luggage"></i> 4 Bags</span> <span><i class="omfi-age"></i> Age 25</span></div>
                        </div>
                        <div class="col-md-5">
                            <div class="book">
                                <div><a href="car-details.html" class="btn"><span>Details</span></a></div>
                                <div><span class="price">$900</span><span>/day</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"> <img src="assets/img/slider/13.jpg" alt=""> </div>
                <div class="con opacity-1">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="title"><a href="#">Bentley Continental</a></div>
                            <div class="details"> <span><i class="omfi-door"></i> 4 Seats</span> <span><i class="omfi-transmission"></i> Auto</span> <span><i class="omfi-luggage"></i> 2 Bags</span> <span><i class="omfi-age"></i> Age 25</span></div>
                        </div>
                        <div class="col-md-5">
                            <div class="book">
                                <div><a href="car-details.html" class="btn"><span>Details</span></a></div>
                                <div><span class="price">$500</span><span>/day</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"> <img src="assets/img/slider/14.jpg" alt=""> </div>
                <div class="con opacity-1">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="title"><a href="#">Audi RS7 Sportback</a></div>
                            <div class="details"> <span><i class="omfi-door"></i> 4 Seats</span> <span><i class="omfi-transmission"></i> Auto</span> <span><i class="omfi-luggage"></i> 2 Bags</span> <span><i class="omfi-age"></i> Age 25</span></div>
                        </div>
                        <div class="col-md-5">
                            <div class="book">
                                <div><a href="car-details.html" class="btn"><span>Details</span></a></div>
                                <div><span class="price">$450</span><span>/day</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"> <img src="assets/img/slider/15.jpg" alt=""> </div>
                <div class="con opacity-1">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="title"><a href="#">AUDI Q8</a></div>
                            <div class="details"> <span><i class="omfi-door"></i> 4 Seats</span> <span><i class="omfi-transmission"></i> Auto</span> <span><i class="omfi-luggage"></i> 3 Bags</span> <span><i class="omfi-age"></i> Age 25</span></div>
                        </div>
                        <div class="col-md-5">
                            <div class="book">
                                <div><a href="car-details.html" class="btn"><span>Details</span></a></div>
                                <div><span class="price">$450</span><span>/day</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="line-vr-section"></div>